.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logout-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e51535;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.logout-button:hover {
  background-color: #c4122e;
}

.confirm-button,
.cancel-button {
  padding: 8px 16px;
  font-size: 14px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.confirm-button {
  background-color: #e51535;
  color: white;
}

.confirm-button:hover {
  background-color: #c4122e;
}

.cancel-button {
  background-color: #ccc;
  color: black;
}

.cancel-button:hover {
  background-color: #bbb;
}
