:root {
  --yellowBee: #ffd375;
  --yellowBeeHover: #e6be6a; /* darker yellow for hover effect */
  --yellowBeeActive: #cca95f; /* darker x2 yellow for hover effect */
  --yellowBeeDarker: #b39455; /* darker x3 yellow for hover effect */
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

h2 {
  margin-bottom: 1.5rem;
}

p {
  margin: 0.5rem 0;
  color: #555;
}

div.cardContainer {
  background: #f9f9f9;
  min-height: 100vh;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

div.cardContainer div.card {
  width: 300px;
  padding: 20px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 4px 4px 8px 4px rgba(70, 70, 70, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
}

div.cardContainer div.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* enhanced shadow on hover */
}

div.cardContainer div.card:hover p {
  color: var(--yellowBeeDarker);
}

div.cardContainer div.card img {
  width: 100%;
  display: block;
  border-radius: 20px;
  margin-bottom: 10px;
}

div.cardContainer div.card .buttonContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

div.cardContainer div.card .buttonContainer .view {
  padding: 10px 20px;
  background-color: var(--yellowBee);
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.2s, transform 0.2s;
  box-shadow: 4px 4px 8px 4px rgba(70, 70, 70, 0.3);
}

div.cardContainer div.card .buttonContainer .view:hover {
  background-color: var(--yellowBeeHover);
  transform: scale(1.05);
}

div.cardContainer div.card .buttonContainer .view:active {
  background-color: var(--yellowBeeActive);
  transform: scale(1);
}
