/* ----------------------------------------------- */
/* Styling /////////////////////////////////////// */
/* ----------------------------------------------- */

div.Form {
  width: 100%;
  padding: 10px 0;
  margin: 10px 0;
  padding: 20px;
  border: 1px solid LightGrey;
  border-radius: 5px;
}

div.Form div.FormTray {
  width: 100%;
  margin-bottom: 20px;
}

div.Form div.FormTray div.FormItem {
  margin-bottom: 20px;
}

div.Form div.FormTray div.FormItem label.FormLabel {
  display: block;
  font-weight: 600;
}

div.Form div.FormTray div.FormItem p.FormAdvice {
  color: #1fbfab; /* Darkened Cyan (10%) */
  font-weight: 400;
  font-size: 90%;
}

div.Form div.FormTray div.FormItem select,
div.Form div.FormTray div.FormItem input {
  width: 100%;
  padding: 3px;
  margin: 1px 0;
  font-size: 100%;
  border-radius: 0px;
  border: 1px solid LightGrey;
  background: White;
}

div.Form div.FormTray div.FormItem select::placeholder,
div.Form div.FormTray div.FormItem input::placeholder,
div.Form div.FormTray div.FormItem select:disabled,
div.Form div.FormTray div.FormItem input:disabled {
  color: Grey;
  font-weight: 300;
}

div.Form div.FormTray div.FormItem select:hover,
div.Form div.FormTray div.FormItem input:hover,
div.Form div.FormTray div.FormItem select:focus,
div.Form div.FormTray div.FormItem input:focus {
  outline-width: 1px;
  outline-style: solid;
  border-width: 1px;
  border-style: solid;
}

div.Form div.FormTray div.FormItem select:hover,
div.Form div.FormTray div.FormItem input:hover {
  border-color: LightGrey;
  outline-color: LightGrey;
}

div.Form div.FormTray div.FormItem select:focus,
div.Form div.FormTray div.FormItem input:focus {
  border-color: #1fbfab; /* Darkened Cyan (10%) */
  outline-color: #1fbfab; /* Darkened Cyan (10%) */
}

div.Form div.FormTray div.FormItem input[type="number"] {
  text-align: left;
}

div.Form div.FormTray div.FormItem select.FormError,
div.Form div.FormTray div.FormItem input.FormError {
  border-color: #c76a7a; /* Darkened Rose (20%) */
  outline-color: #c76a7a; /* Darkened Rose (20%) */
}

div.Form div.FormTray div.FormItem p.FormError {
  color: #c76a7a; /* Darkened Rose (20%) */
  font-weight: 400;
  font-size: 90%;
}
